{% extends 'base.html'%}
{% block content %}
<div class="container">

  <main class="container-main">
    <section class="text">
      <h1>BIENVENIDOS</h1>

      <p>
        Somos amalgama de formas y colores, cultura que se fusiona y se
        entrelaza, mestizaje de voces, de saberes y sabores, sincretismo que
        enriquece.<br />
        En Mosaico, se dibuja la diversidad, las raices se unen y las
        diferencias se abrazan. En nuestra esencia, La cultura es la fuerza y
        la identidad, y en nuestras paredes, la creatividad se alza y se
        proclama.
      </p>
    </section>
  </main>


  <aside class="image"></aside>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/app.js"></script>
{% endblock %}