<header class="container-header">
    <img class="logo" src="/static/img/logo.png" alt="" />
    <nav class="menu">
        <ul>
            <li><i class="fa-brands fa-facebook"></i></li>
            <li> <i class="fa-brands fa-instagram"></i></li>
            <li><a href="/">Nosotros</a></li>
            <li><a href="/events">Eventos/Talleres</a></li>
            <li><a href="/library">Biblioteca Virtual</a></li>
            <li><a href="/contact">Contactanos</a></li>
        </ul>

        <button class="toggle-menu">
            <i class="fa fa-bars"></i>
        </button>
        <button class="close-menu">
            <i class="fa fa-times"></i>
        </button>
    </nav>
</header>