{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="/static/css/contact-style.css" />
{% endblock %}
{% block content %}

<main class="main-contact">
  <section class="contact">
    <h3>Encontranos en Redes</h3>
    <div class="contact-icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>

  </section>
  <section class="container-form">
    <form action="https://formsubmit.co/codoacodo.grupo14@gmail.com" method="POST" class="form" id="formId">
      <div class="form_group" id="group_name">
        <label for="name" class="form__label">Nombre</label>
        <div class="form_group_input">
          <input type="text" class="form_input" name="name" id="name" placeholder="John Doe">
          <i class=" form_validation_state fa-solid fa-circle-check"></i>
          <i class=" form_validation_state fa-solid fa-circle-xmark"></i>
        </div>
        <p class="form_input_error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y
          guion bajo.</p>
      </div>
      <div class="form_group" id="group_mail">
        <label for="mail" class="form_label">Correo Electrónico</label>
        <div class="form_group_input">
          <input type="email" class="form_input" name="mail" id="mail" placeholder="correo@correo.com">
          <i class=" form_validation_state fa-solid fa-circle-check"></i>
          <i class=" form_validation_state fa-solid fa-circle-xmark"></i>
        </div>
        <p class="form_input_error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
      </div>
      <div class="form_group" id="group_phone">
        <label for="phone" class="form_label">Teléfono</label>
        <div class="form_group_input">
          <input type="text" class="form_input" name="phone" id="phone" placeholder="3454181695">
          <i class=" form_validation_state fa-solid fa-circle-check"></i>
          <i class=" form_validation_state fa-solid fa-circle-xmark"></i>
        </div>
        <p class="form_input_error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
      </div>
      <label for="mess">Tu mensaje</label>
      <textarea id="message" cols="30" rows="10" name="message"></textarea>
      <button type="submit">Enviar</button>
      <p id="form_mess_exit" class="form_mess_exit">Ya se envió tu consulta, en breve nos comunicamos con vos!</p>
      <div class="form_mess" id="form_mess">
        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
      </div>

    </form>
  </section>
</main>


{% endblock %}
{% block scripts %}
<script src="/static/js/events.js"></script>
<script src="/static/js/contact.js"></script>
{% endblock %}