{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="/static/css/events.css">
{% endblock %}
{% block content %}
<main class="grid-main">
  <section class="works">
    <div class="container-workspaces">
      <div class="workspaces">
        <h2 class="ws-ev">Hagamos</h2>
        <h1 class="ws-ev">Arte</h1>
        <div class="circle">
          <i class="fas fa-circle"></i>
        </div>
        <div class="text-left">
          <p>Los talleres están diseñados para explorar y desarrollar habilidades en áreas como la música, artes
            plásticas, danzas, teatro, lectura y escritura, y más..., más..., más... <br>
            Tendrás la oportunidad de aprender de maestros en cada campo, mejorar tus habilidades y experimentar con
            diversidad de técnicas y materiales</p>
          <button class="button-info"><a href="../contact/contact.html">Click para pedir info</a></li></button>
        </div>
      </div>
      <div id="slider">
        <figure>
          <img class="medium" src="/static/img/musica.jpeg" alt="">
          <img class="medium" src="/static/img/danza_tango.jpg" alt="">
          <img class="medium" src="/static/img/pinceles.jpg" alt="">
          <img class="medium" src="/static/img/teatro.webp" alt="">
          <img class="medium" src="/static/img/escultor.avif" alt="">
        </figure>
      </div>
    </div>
  </section>

  <section class="event-container">
    <h2 class="global">Nuestra</h2>
    <h1 class="ws-ev">Cartelera</h1>
    <div class="circle">
      <i class="fas fa-circle"></i>
    </div>
    <div class="event">
      <div class="image-group">
        <img src="/static/img/Betita.JPG" alt="" />
        <div>
          <img src="/static/img/spinettango2.jfif" alt="">
          <a href="https://youtu.be/XD_FcSfNyHk" target="_blank">
            Clickea 'Spinettango'
          </a>
        </div>
        <img src="/static/img/photographer-428388_640.jpg" alt="" height="">
        <img src="/static/img/artesano.avif" alt="">
      </div>
      <div class="des rig">
        <div class="table-responsive">
          <table>
            <thead>
              <tr class="first-tr">
                <th>Día</th>
                <th>Hora</th>
                <th>Lugar</th>
                <th>Evento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Viernes 19 de mayo</td>
                <td>20:30</td>
                <td>Sala de Teatro</td>
                <td>"Evocando a Betita"</td>
              </tr>
              <tr>
                <td>Sábado 20 de mayo</td>
                <td>21</td>
                <td>Auditorio</td>
                <td>"Spinettango"</td>
              </tr>
              <tr>
                <td>Domingo 21 de mayo</td>
                <td>16</td>
                <td>Patio de Los Encuentros</td>
                <td>"Feria de Artesanos"</td>
              </tr>
              <tr>
                <td>Domingo 21 de mayo</td>
                <td>16</td>
                <td>Sala de Exposiciones</td>
                <td>"Muestra Fotográfica Quique Torrente"</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

  </section>
</main>
{% endblock %}
{% block scripts %}
<script src="/static/js/events.js"></script>
{% endblock %}